<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
<!-- comment these because we use annotation
	<filter>
		<filter-name>RequestLoggingFilter</filter-name>
		<filter-class>com.library.filter.RequestLoggingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestLoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.library.filter.RequestLoggingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
-->


</web-app>